/* Put custom additions to the layout here */

/* Settings for header and body to make fixed site header */
header {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
    background-color: $site-header-color;
    color: $site-title-color;
}

.content-wrapper {
    position: absolute;
    top: 80px;
    left: 0px;
}

.content-container {
    width: 1000px;
    background-color: $site-background-color;
    border-color: #BB7F00;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-radius: 3px;
}

/* Settings for the search bar */
.search-bar {
    background-color: $search-bar-background;
    border-color: $search-bar-border;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.search-bar input {
    border-radius: 5px;
}

.search-bar a:link, .search-bar a:hover, .search-bar a:visited {
    color: $search-bar-results;
}

/* Used to make various elements 'float' with a shadow */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}