/* Define the variables for the sites palette here */
$site-title-color: #FF872A;
$site-header-color: #074778;
$site-background-color: #FFFFFF;
$search-bar-background: #6EA7D3;
$search-bar-results: #ffe1c9;
$search-bar-border: #074778;
$link-base-color: #FF872A;
$link-visited-color: #FF872A;
$link-hover-color: #FF9D52;
$link-header-base-color: #FFFFFF;
$link-header-hover-color: #FF9D52;