---
layout: default
---

<div class="px-4 pt-4 w-full">
  <h1 class="text-center mt-6 mb-6 text-3xl title-font">{{ page.title }}</h1>
  <div class="text-center">
    {% if page.tags.size !=0 %}
      <i class="text-xs fas fa-tags"></i>
    {% for tag in page.tags %}
      <div class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-indigo-100 text-indigo-800">
        <a class="!no-underline" href="{{site.baseurl}}/tags#{{ tag }}">{{ tag }}</a>
      </div>
    {% endfor %}
    {% endif %}
  </div>
  <div class="mt-6 w-full flex flex-col justify-start items-center">
    <div class="prose prose-{{site.theme-color}}">
      {{content}}
    </div>
  </div>
</div>